<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 my-4 mx-auto text-center">
    <h1 class="display-4 mt-1" style="color: whitesmoke;">Listado de Mobiliario</h1>
    <a class="btn btn-secondary btn-lg" href="/mobiliario/add">AGREGAR MOBILIARIO</a>
    <a class="btn btn-info btn-lg" src="imprimir.jpg" name="Submit" onclick="javascript:window.print()">IMPRIMIR</a>
</div>

<div class="container p-4">
    <div class="row">

        {{#each mobiliario}}

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    {{!-- <a href="{{url}}" target="_blank"> --}}
                        <h6 class="card-title text-uppercase" id="descripcion" style="color: rgb(0, 10, 156)">
                            Descripcion:
                        </h6>

                        <h6>{{descripcion}}</h6>

                        <h6 class="card-title text-uppercase" style="color: rgb(0, 10, 156)">
                            Sala o Curso:
                        </h6>

                        <h6>{{sala}}</h6>

                        <h6 class="card-title text-uppercase" style="color: rgb(0, 10, 156)">
                            Cantidad en Stock:
                        </h6>

                        <h6>
                            {{cant}}
                        </h6>

                        <a class="btn btn-danger" href="/mobiliario/delete/{{id}}">
                            Borrar
                        </a>
                        <a class="btn btn-secondary" href="/mobiliario/edit/{{id}}">
                            Editar
                        </a>



                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>NO TIENE MOBILIARIO GUARDADOS </p>
                <a href="/mobiliario/add">CREA UNO!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>