<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 my-4 mx-auto text-center">
  <h1 class="display-4 mt-1" style="color: whitesmoke;">Listado de Libros
    Prestados</h1>
  <a class="btn btn-secondary btn-lg" href="/prestar/add">AGREGAR LIBRO PRESTADO</a>
  <a class="btn btn-info btn-lg" src="imprimir.jpg" name="Submit" onclick="javascript:window.print()">IMPRIMIR</a>
  {{!-- <form method="POST" action="/prestar/consulta">
    <input type="number" name="{{id}}">
    <br>
    <input type="submit" value="id">
  </form> --}}
  </a>
</div>

<div class="container p-4">
  <div class="row">

    {{#each presta}}

    <table class="table">
      <thead>
        <tr>
          {{! <th scope="col">#</th> }}
          <th scope="col" style="color: lightgray;">Nombre del Solicitante</th>
          <th scope="col" style="color: lightgray;">E-mail</th>
          <th scope="col" style="color: lightgray;">Autor - Nombre de libro</th>
          <th scope="col" style="color: lightgray;">Libros Prestados</th>
          <th scope="col" style="color: lightgray;">Autor</th>
          <th scope="col" style="color: lightgray;">Editorial</th>
          <th scope="col" style="color: lightgray;">Fecha de Entrega</th>
          <th scope="col" style="color: lightgray;">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          
          <td style="color: whitesmoke">{{nombre}}</td>
          <td style="color: whitesmoke">{{correo}}</td>
          <td style="color: whitesmoke">{{nombre_libro}}</td>
          <td style="color: whitesmoke">{{cant}}</td>
          <td style="color: whitesmoke">{{autor}}</td>
          <td style="color: whitesmoke">{{editorial}}</td>
          <td style="color: whitesmoke">{{timeago fecha}}</td>
          <td>
            <a class="btn btn-danger" href="/prestar/delete/{{id}}">
              Borrar
            </a>
            <a class="btn btn-warning" href="/prestar/edit/{{id}}">
              Editar
            </a>



          </td>
        </tr>

      </tbody>
    </table>

    {{else}}


    {{/each}}

  </div>

</div>